section.panel {
    top: 44px;
    overflow: scroll;
}

.jvminfoContainer .item-data-group .data-list {
    flex-basis: 0;
}

.stats-container {
    padding: 0 35px;
}

.item-data-group:first-child {
    padding-top: 35px;
}

.sub {
    padding-top: 35px;
    flex: 100%;
}

.sub h4, .sub h5 {
    color: #777;
    flex: 100%;
}
.sub h5 {
    margin-top: 20px;
}

.jvmPropsContainer .data-list {
    flex: 1 100%;
}

ul.cluster-list.data-list {
    flex: none;
    display: flex;
}

.cluster-state {
    text-align: center;
    width: 100px;
    padding: 5px;
    font-weight: bold;
}
.cluster-list li {
    margin-right: 20px;
}
.master-node {
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 5px 0;
}
.stateYELLOW {
    background-color: #ee0;
}
.stateGREEN {
    background-color: #8d8;
}
.stateRED {
    background-color: #f77;
}


.index-list.data-list {
    width: 250px;
}

.osgiBundleContainer .data-list {
    flex-basis: 0;
    width: 300px;
}

.dumpContainer pre {
    flex: 1 100%;
    padding: 20px 0;
}